window {
    padding: 50px;
    background-color: rgba(238, 238, 238, 0.85);
    font-family: 'Fira Code NerdFont';
	font-size: 15px;
    border-radius: 7px;
    border: 2px solid rgba(92, 92, 92, 0.3);
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    background-color: #CFCFCF;
    border-radius: 7px;
    border: 2px solid rgba(92, 92, 92, 0.3);
    color: #353535;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

#entry:selected {
    background-color: #D7D7D7;
    border-radius: 5px;
}

#text {
    color: #353535;
}

#text:selected {
    color: #353535;
}

