[Unit]
Description=Kanata key remapping daemon for laptop keyboard

[Service]
Type=simple
ExecStart=sudo /usr/bin/kanata -c /home/aram/.config/kanata/kanata.kbd

