window {
    padding: 50px;
    background-color: rgba(25, 25, 25, 0.85);
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 15px;
    border-radius: 7px;
    border: 3px solid rgba(61, 56, 57, 0.3);
}

#input {
    margin: 20px 15px;
    padding: 10px 20px;
    background-color: #303030;
    border-radius: 7px;
    border: 3px solid rgba(64, 64, 64, 0.3);
    color: #bbbbbb;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    margin: 0 15px;
}

#img {
    margin: 10px;
}

 #entry:selected { 
    background-color: #404040;
    border-radius: 5px; 
 } 

#text {
    color: #C9C9C9;
}

#text:selected {
    color: #C9C9C9; 
}
